.page-menu-side {
  background: var(--base_background);
  color: var(--base_color);

  container-type: size;
  container-name: menuSide;

  & .page-menu-side__title {
    display: none;
  }

  @container menuSide (min-height: 100px) and (min-width: 6rem) {
    & .page-menu-side__title {
      display: block;
      text-align: center;
      font-size: 1.25rem;
      margin-top: 1rem;
    }
  }
}
