.page-menu {
  flex-grow: 1;
  display: flex;

  & .page-menu-side {
    flex-shrink: 0;
    width: 12rem;

    & .page-menu-side-items {
      list-style: none;
      padding: 0 1rem;

      & .page-side-menu-item {
        display: block;
        background: var(--base_item_background);
        color: var(--base_item_color);
        padding: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;

        &.selected {
          background: var(--base_selected_background);
          color: var(--base_selected_color);
        }

        &:hover {
          background: var(--base_highlight_background);
          color: var(--base_highlight_color);
        }

        & + .page-side-menu-item {
          margin-top: 1rem;
        }
      }
    }
  }

  & .page-menu-content {
    flex-grow: 1;
    overflow: auto;
  }
}