.memory .game {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  .game-status {
    padding-top: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #BBB;

    .title {
      margin: 0 2rem;
      padding: 1rem;
      font-size: 1.5rem;

      background: rgba(0,0,0,0.6);

      border: 2px solid darkkhaki;
      border-radius: 3px;
    }
    .info {
      padding: 0.5rem;

      background: rgba(0,0,0,0.6);
      
      display: flex;
      align-items: center;

      border: 2px solid darkkhaki;
      border-radius: 3px;
    }
  }

  .game-board {
    flex-grow: 1;
    position: relative;
    .squaregrid {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 5%;
      right: 5%;
      width: 90%;
    }
  }

  .game-footer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);

    button {
      color: darkkhaki;
      width: 90%;
      font-size: 1.2rem;
      line-height: 2rem;
      background: transparent;

      border: none;
      outline: none;

      &:hover {
        background: #888;
        color: yellow;
      }
    }
  }

  .dialog {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);

    .content {
      width: 90%;
      height: 90%;
      max-width: 40rem;
      max-height: 30rem;

      background: #555;
      border: 2px solid darkkhaki;
      border-radius: 5px;

      text-align: center;

      display: flex;
      flex-direction: column;
  
      .title {
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 2rem;
        margin: 0;
      }

      .body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .info {
          display: flex;
          align-items: center;
          font-size: 2rem;
          margin-bottom: 1rem;
          width: 100%;
          .label {
            text-align: right;
            width: 50%;
            color: darkkhaki;
          }
          .value {
            padding-left: 1rem;
            text-align: center;
            width: 30%;
            color: yellow; 
          }
        }
      }

      .footer {
        padding: 2rem;
        .action {
          color: darkkhaki;
          width: 100%;
          font-size: 1.2rem;
          line-height: 2.5rem;
          height: 2.5rem;
          background: transparent;

          border: none;
          outline: none;

          &:hover {
            background: #888;
            color: yellow;
          }
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .card {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;

    transition: transform 0.5s;

    .background {
      position: absolute;
      background-color: #000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: background-color 0.5s;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: none;
      background: none;
      outline: none;
      img {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.4s;
        pointer-events: none;
      }
    }

    .mask {
      padding: 0;
      position: absolute;
      top: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      transition: transform 0.5s;
      border: 0;
      
      background-image: url('../../assets/img/door.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      outline: none;
    }

    &.revealed, &.found {
      img {
        opacity: 1;
      }
      .mask {
        transform: translateY(-120%)
      }
    }

    &.revealed {
      .background {
        background-color: #333;
      }
    }

    &.found {
      transform: scale(1.08);
      .background {
        background-color: #AAA;
      }
    }
  }
}

