.app {
	min-height: 100%;
	overflow: hidden;
	user-select: none;
	position: relative;

	.app-home {
		display: flex;
		flex-direction: column;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.app-toolbar {
			background: rgba(30,30,30,1);
			height: 4rem;
		}
		
		.app-menu {
		}

		.app-content {
			flex-grow: 1;
			position: relative;
			overflow: hidden;
	
			.app-game-list {
				padding: 0;
				.app-game-entry {
					display: inline-block;
					background: white;
					border: 4px solid grey;
					border-radius: 3px;
					margin: 20px;
					img {
						padding: 5px;
						height: 100px;
						width: 100px;
					}
				}
			}
		}
	}
}