.app {
	min-height: 100%;
	display: flex;
	align-items: stretch;
	overflow: hidden;
	user-select: none;
	
	.mainMenu, .subMenu, .mainContent {
		flex-grow: 0;
	}

	.mainMenu {
		background: grey;
		width: 100px;
	}
	.subMenu {
		background: darkgrey;
		width: 200px;	
	}
	.mainContent {
		flex-grow: 1;
		position: relative;
	}
	.app-home {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;

		background: white;
	}
}