.pendu .home {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  
  .home-logo {
    width: 50px;
    height: 50px;
  }
  
  .home-content {
    width: 70%;
    max-width: 600px;
  }

  .menu-title {
    text-align: center;
    margin-top: 2rem;
    color: #666;
    font-size: 2rem;
  }

  .menu {
    width: 100%;
    padding: 0;
  
    .menu-entry {
      list-style-type: none;
      padding: 0;
      margin: 2rem 0;
      width: 100%;

      a {
        text-decoration: none;
      }
    }

    .menu-button {
      width: 100%;
      display: flex;
      align-items:  center;
      background: rgba(255,255,255,0.75); 
      border: 0;
      transition: transform 0.15s;
      box-shadow: 5px 3px 3px 2px rgba(0, 0, 0, .2);
      outline: none;

      &:hover {
        background: white; 
        transform: scale(1.007);
        box-shadow: 5px 3x 3px 2px rgba(0, 0, 0, .4);
      }
      &:active {
        transition: transform 0s;
        transform: scale(1) scale(0.995);
        box-shadow: 3px 2px 2px 1px rgba(80, 80, 80, .6);
      }

      img {
        width: 30px;
        height: 30px;
        margin: 0 2rem;
        
      }
      .menu-button-inner {
        flex-grow: 1;
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.5rem;
      }
    }

    .menu-selector {
      display: flex;
      align-items: center;
      width: 100%;
      .label {
        width: 50%;
        text-align: center;
        font-size: 1.5rem;
      }
      .selector {
        width: 50%;
        display: flex;
        align-items: center;
        .selector-action {
          height: 3rem;
          line-height: 3rem;
          width: 3rem;
          font-weight: bold;
          font-size: 3rem;
          border: 0;
          background: none;
          color: rgba(255,255,255,0.6);
          outline: none;
          &:hover {
            color: rgba(255,255,255,0.85);
          }
          &:disabled {
            color: rgba(150,150,150,0.3);
          }
        }
        .selector-value {
          flex-grow: 1;
          text-align: center;
          font-size: 1.5rem;
        }
      }
    }
  }
}
