$zoneSize: 5rem;

.minehunter .game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(50,50,50,1);

  .header {
    position: absolute;
    top: 0;
    height: $zoneSize;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    position: absolute;
    top: $zoneSize;
    bottom: $zoneSize;
    left: 0;
    right: 0;
  }
  .footer {
    position: absolute;
    bottom: 0;
    height: $zoneSize;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .action {
      padding: 0.75rem 1.5rem;
      border-radius: 4px;
      font-size: calc(1em + 1vw);
      margin: 0 2rem;

      .icon {
        margin-right: 1.5rem;
      }
      &.pressed {
        background: darkgray;
        color: white;
      }
    }
  }

  .grid {
    width: 100%;
    .grid-row {
      display: flex;
      .grid-tile {
        flex-grow: 1;
        .grid-tile-inner {
          padding-top: 100%;
          position: relative;
          >* {
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
          }
        }
      }
    }
  }
    
  .tile {
    background-image: radial-gradient(rgb(220,220,220), rgb(80,80,80));
    transition: background-color 0.5s;

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
      border: 1px solid rgb(30,30,30);
    }
    .icon {
      width: 50%;
      height: 50%;

      &.near-1 {
        background-image: url('/src/games/minehunter/assets/img/nb1.svg')
      }
      &.near-2 {
        background-image: url('/src/games/minehunter/assets/img/nb2.svg')
      }
      &.near-3 {
        background-image: url('/src/games/minehunter/assets/img/nb3.svg')
      }
      &.near-4 {
        background-image: url('/src/games/minehunter/assets/img/nb4.svg')
      }
      &.near-5 {
        background-image: url('/src/games/minehunter/assets/img/nb5.svg')
      }
      &.near-6 {
        background-image: url('/src/games/minehunter/assets/img/nb6.svg')
      }
      &.near-7 {
        background-image: url('/src/games/minehunter/assets/img/nb7.svg')
      }
      &.near-8 {
        background-image: url('/src/games/minehunter/assets/img/nb8.svg')
      }
    }

    .mask {
      height: 100%;
      width: 100%;
      padding: 0;
      border: 1px solid;
    }

    &:hover {
      background-image: radial-gradient(rgb(240,240,240), rgb(100,100,100));
    }
  }
}