.risk .risk-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .risk-home-logo {
    margin-top: 5rem;
    text-align: center;
    img {
      max-width: 50%;
    }
  }

  .risk-home-content {
    margin-top: 3rem;
    flex-grow: 1;
    text-align: center;
    width: 70%;
    max-width: 600px;

    .title {
      font-size: 2rem;
    }
  
    .menu-entry {
      margin-top: 0.75rem;
      display: inline-block;
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      font-size: 1.5rem;
      border: 1px solid black;
    }

    .selector-group {
      display: flex;
      align-items: center;
      height: 3rem;
      .label {
        line-height: 3rem;
        font-size: 1.5rem;
        width: 50%;
      }
      .selector {
        width: 50%;
        display: flex;
        align-items: center;
        .selector-button {
          width: 2rem;
          height: 2rem;
        }
        .selector-content {
          flex-grow: 1;
          height: 3rem;
          line-height: 3rem;
          font-size: 1.5rem;
          align-items: center;
        }
      }
    }
  }

  .risk-home-disclaimer {
    justify-self: end;
    margin: 2rem;
    font-style: italic;
  }
}

.risk .risk-home .new-menu {
  .players-list {
    padding: 0;
    margin: 0;
  }
  .player-color {
    border: 1px solid black;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
  }
}