:root {
  --home-menu-width: 10rem;
  --text-color: lightgrey;
  --text-hightlight-color: white;
}

.home {
  background: var(--base_background);
  color: var(--text-color);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  & .home-header {
    height: 5rem;
    background: grey;
    flex-shrink: 0;
  }

  & .home-content {
    flex-grow: 1;
    flex-basis: 0;
  }

  & .layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.layer-background {
      background: url('images/background.jpg');
      background-size: cover;
    }

    &.layer-opacity {
      background: rgba(30,30,30,0.7);
    }
  }
}