:root {
  --home-menu-width: 10rem;
  --text-color: lightgrey;
  --text-hightlight-color: white;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  background: url('images/background.png');

  & .home-header {
    height: 5rem;
    background: grey;
    flex-shrink: 0;
  }
}