.mozaic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: lightgray;
  // background-image: url("/src/games/memory/assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .home {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}