.pendu .board .word {
  width: 100%;

  .word-status {
    height: 300px;
    img {
      max-height: 100%;
    }
  }

  .word-secret {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;

    .word-secret-letter {
      height: 2.5rem;
      width: 2.5rem;
      line-height: 2.5rem;
      text-align: center;
      font-size: 1.5rem;
      border-radius: 50%;
      background: rgba(255,255,255,0.75);
      margin: 0.5rem;

      &.found {
        background: rgb(255, 228, 243);
      }
    }
  }

  .word-errors {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    height: 2.5rem;

    .word-errors-letter {
      height: 2.5rem;
      width: 2.5rem;
      line-height: 2.5rem;
      text-align: center;
      font-size: 1.5rem;
      border-radius: 50%;
      background: rgba(120,120,120,0.6);
      margin: 0.5rem;
    }
  }

  .word-input {
    position: fixed;
    top: -500px;
    margin-bottom: 30px;
  }

  .button {
    width: 100%;
  }

  .word-footer {
    margin: 2rem 0;
    height: 3rem;
  }
}