.risk .risk-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: auto;
  
  border: 2px solid black;

  .map-row {
    display: inline-flex;
    .map-col {
      display: inline-block;
      width: 5rem;
      height: 5rem;
      margin: 0.5rem;
      position: relative;
    }
  }
}

.risk .risk-map .risk-map-territory {
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.05)
  }
  .label {
    display: block;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
  }
}