.dobble {
    font-family: fantasy;
    user-select: none;
    min-height: 100%;
    background: url('/assets/images/dobble/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 

    .dobble-card {
        height: 400px;
        width: 400px;
        overflow: hidden;
        display: inline-block;

        .dobble-card-content {
            border-radius: 50%;
            transform-origin: 0 0;
        }
    }

    .dobble-score {
        padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #111;
        color: #DDD;
        height: 50px;
        font-size: 25px;
        div {
            width: 50%;
            text-align: center;
        }
    }

    .dobble-cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin: 50px;
    }
}
