.dobble {
    user-select: none;
}

.dobble-card {
    height: 400px;
    width: 400px;
    overflow: hidden;
    display: inline-block;

    .dobble-card-content {
        border-radius: 50%;
        transform-origin: 0 0;
    }
}
